.app-list-item{
    margin: 10px auto;
}
.app-list-item-lebel img{
    display: block;
    padding: 20px 0 50px 20px;
    max-width: 300px;
    cursor: pointer;
}
.btn-likes{
    background-color: aliceblue;
}
.btn-likes-true{
    background-color: red;
}