<<<<<<< HEAD
.form-control{
    display: inline;
    max-width: 600px;
    margin-right: 20px;
    margin-top: 30px;
=======
.form-control{
    display: inline;
    max-width: 600px;
    margin-right: 20px;
    margin-top: 30px;
>>>>>>> 0e3b04a4cd6a4067981b053c261c5615f56fa5c9
}